<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>servletDuenio</servlet-name>
		<display-name>servletDuenio</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletDuenio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servltDuenio</servlet-name>
		<display-name>servltDuenio</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletDuenio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletVeterinario</servlet-name>
		<display-name>ServletVeterinario</display-name>
		<description></description>
		<servlet-class>com.vp.controller.ServletVeterinario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletRegDue</servlet-name>
		<display-name>servletRegDue</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletRegDue</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletChangeImgDuenio</servlet-name>
		<display-name>servletChangeImgDuenio</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletChangeImgDuenio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletPrivUser</servlet-name>
		<display-name>servletPrivUser</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletPrivUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>crudModeradores</servlet-name>
		<display-name>crudModeradores</display-name>
		<description></description>
		<servlet-class>com.vp.controller.crudModeradores</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletModCrud</servlet-name>
		<display-name>servletModCrud</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletModCrud</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletMostrarMod</servlet-name>
		<display-name>servletMostrarMod</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletMostrarMod</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servletCrudVete</servlet-name>
		<display-name>servletCrudVete</display-name>
		<description></description>
		<servlet-class>com.vp.controller.servletCrudVete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDuenio</servlet-name>
		<url-pattern>/servletDuenio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servltDuenio</servlet-name>
		<url-pattern>/servltDuenio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletVeterinario</servlet-name>
		<url-pattern>/ServletVeterinario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletRegDue</servlet-name>
		<url-pattern>/servletRegDue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletChangeImgDuenio</servlet-name>
		<url-pattern>/servletChangeImgDuenio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletPrivUser</servlet-name>
		<url-pattern>/servletPrivUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>crudModeradores</servlet-name>
		<url-pattern>/crudModeradores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletModCrud</servlet-name>
		<url-pattern>/servletModCrud</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletMostrarMod</servlet-name>
		<url-pattern>/servletMostrarMod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletCrudVete</servlet-name>
		<url-pattern>/servletCrudVete</url-pattern>
	</servlet-mapping>
</web-app>
