*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	background-color: #a6dcef;
}

.logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 25%;
	margin-left: 40px;
}

.logo img{
	width: 100px;
	margin-right: 20px;
}

.logo a{
	text-decoration: none;
	font-weight: bold;
	font-size: 42px;
	color: #383e56;
}

.menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#LogInItem{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#mP{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu ul li{
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px;
}

.menu ul hr{
	margin: 0;
	border: none;
	border-left: 1px solid #e36387;
	height: 30px;
	width: 1px;
}

.menu ul li a{
	text-decoration: none;
	font-weight: 400;
	font-size: 22px;
	color: #383e56;
}

.menu ul li a:hover{
	color: #e84a5f;
	cursor: pointer;
}

.menu ul li .configBtn{
	width: 50px;
	transition: all 200ms;
	margin-left: 120px;
	cursor: pointer;
}

.menu ul li .configBtn:hover{
	transform: scale(1.1);
	transition: all 200ms;
}

.subMenu{
	padding: 10px;
	background-color: #a6dcef;
	border-radius: 6px;
	box-shadow: -15px 15px 35px 1px rgba(0,0,0,0.4);
}

.subMenu li{
	list-style-type: none;
	margin: 12px 20px;
}

.menu ul li .subMenu{
	display: none;
	position: absolute;
}

.menu ul li:hover > .subMenu{
	display: block;
}


/*

Ventana flotante para iniciar sesion(Dueños)

*/

.logIn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	border: 1px solid #000;
	margin: 70px 0;
	background-color: #FFF;
	position: absolute;
	left: 33%;
	top: 10%;
	opacity: 1;
	transform: scale(1);
}

.logIn .logo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.logIn .logo img{
	width: 90px;
}

.logIn .logo h2{
	font-weight: bold;
	font-size: 36px;
	color: #383e56;
}

.logIn form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.logIn form .lbl{
	text-align: left;
	width: 72%;
	font-size: 18px;
	color: #383e56;
}

.logIn form .txt{
	padding: 5px;
	width: 70%;
	font-size: 18px;
	color: #383e56;
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
	margin-top: 3px;
}

.logIn form .regAnun{
	margin-top: 10px;
}

.logIn form .regAnun .reg{
	text-decoration: none;
	color: #383e56;
}

.logIn form .regAnun .reg:hover{
	text-decoration: underline;
	color: #000;
}

.logIn form .botones{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	padding: 20px;
	margin-top: 20px;
}

.logIn form .botones .btnOk{
	font-weight: bold;
	width: 30%;
	padding: 10px;
	font-size: 18px;
	background-color: #79d70f;
	border-radius: 20px;
	border: none;
	color: #FFF;
}

.logIn form .botones .btnOk:hover{
	background-color: #b6eb7a;
	color: #000;
	cursor: pointer;
}

.logIn form .botones .btnCancel{
	text-align: center;
	font-weight: bold;
	width: 30%;
	padding: 10px;
	font-size: 18px;
	background-color: #d32626;
	border-radius: 20px;
	border: none;
	color: #FFF;
}

.logIn form .botones .btnCancel:hover{
	background-color: #ff847c;
	color: #000;
	cursor: pointer;
}

#windPop{
	animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn{
	0%{opacity: 0;}
	100%{transform: opacity: 1}
}

/*
Ventana flotante para iniciar sesion(veterinario)
*/


.logov{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	border: 5px solid #000;
	margin: 70px 0;
	background-color: #a6e3e9;
	position: absolute;
	left: 33%;
	top: 10%;
	opacity: 1;
	transform: scale(1);
}

.logov .logo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.logov .logo img{
	width: 90px;
}

.logov .logo h2{
	font-weight: bold;
	font-size: 36px;
	color: #383e56;
}

.logov form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.logov form .lbl{
	text-align: left;
	width: 72%;
	font-size: 18px;
	color: #383e56;
}

.logov form .txt{
	padding: 5px;
	width: 70%;
	font-size: 18px;
	color: #383e56;
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
	margin-top: 3px;
}

.logov form .regAnun{
	margin-top: 10px;
}

.logov form .regAnun .reg{
	text-decoration: none;
	color: #383e56;
}

.logov form .regAnun .reg:hover{
	text-decoration: underline;
	color: #000;
}

.logov form .botones{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	padding: 20px;
	margin-top: 20px;
}

.logov form .botones .btnOk{
	font-weight: bold;
	width: 30%;
	padding: 10px;
	font-size: 18px;
	background-color: #79d70f;
	border-radius: 20px;
	border: none;
	color: #FFF;
}

.logov form .botones .btnOk:hover{
	background-color: #b6eb7a;
	color: #000;
	cursor: pointer;
}

.logov form .botones .btnCancel{
	text-align: center;
	font-weight: bold;
	width: 30%;
	padding: 10px;
	font-size: 18px;
	background-color: #d32626;
	border-radius: 20px;
	border: none;
	color: #FFF;
}

.logov form .botones .btnCancel:hover{
	background-color: #ff847c;
	color: #000;
	cursor: pointer;
}

#vete{
	animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn{
	0%{opacity: 0;}
	100%{transform: opacity: 1}
}

/*

Menu Lateral perfil Dueño;

*/

#lateralNav{
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #0a97b0;
	right: -200px;
	transition: all 500ms linear;
}

#lateralNav.active{
	right: 0;
	transition: all 500ms linear;
}

#lateralNav ul li{
	list-style: none;
	text-align: center;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	color: #FFF;
}

#lateralNav ul li:hover{
	background-color: #1b6ca8;
}

#lateralNav ul li span{
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	cursor: pointer;
}

#lateralNav ul li span:hover{
	cursor: pointer;
}

#lateralNav ul li img{
	display: block;
	margin: 0 auto;
	width: 100px;
}