*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.rotulos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.rotulos h2{
	font-size: 56px;
	color: #383e56;
}

.rotulos h4{
	font-weight: bold;
	color: #383e56;
}

.registro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 50px 0;
}

.registro form{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.registro form .seccion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 600px;
	background-color: #f0f0f0;
	border-radius: 20px;
	padding: 20px;
}

.seccion img{
	width: 45%;
	height: 60%;
	border-radius: 150px;
	border: 1px solid gray;
	background-color: white;
	margin-bottom: 10px;
}

.seccion .ant{
	font-size: 18px;
	width: 80%;
	text-align: center;
	margin-bottom: 10px;
}

.seccion .inp{
	margin-bottom: 5px;
}

.seccion .encabezado{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 55%;
}

.seccion .datos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35%;
	padding: 5px;
}

.seccion .continue{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5%
}

.title{
	width: 80%;
	font-size: 20px;
	margin-bottom: 5px;
}

.encabezado .tit{
	font-weight: bold;
	font-size: 24px;
	width: 80%;
	text-align: center;
	margin-bottom: 10px;
}

.control{
	padding: 3px;
	width: 85%;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid #27496d;
	margin-bottom: 10px;
	background-color: #f0f0f0;
}

.encabezado p{
	font-size: 18px;
	text-align: center;
	width: 90%;
}

.btnNext{
	text-align: center;
	font-size: 16px;
	padding: 5px;
	border-radius: 15px;
	width: 30%;
	margin-top: 20px;
}

.btnCancel{
	text-align: center;
	font-size: 16px;
	padding: 5px;
	border-radius: 15px;
	width: 30%;
	margin-top: 20px;
}

.btn{
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	border-radius: 15px;
	width: 30%;
	margin-top: 20px;
	border: none;
	cursor: pointer;
	color: #000;
}

.Finish{
	background-color: #79d70f;
}

.Finish:hover{
	background-color: #75daad;
}

.Cancel{
	background-color: #f0134d;
}

.Cancel:hover{
	background-color: #d45d79;
}

.Next{
	background-color: #617be3;
}

.Next:hover{
	background-color: #9399ff;
}